---
title: Skipper Bitcoin
---

<h1>Skipper <i class="fa fa-btc"></i>itcoin</h1>
<h2 class="slogan-header">
  Contact us: hello@skipperbitcoin.com
</h2>

<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a style="color: orange;" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/skipperbitcoin/30min?hide_gdpr_banner=1&background_color=1a1a1a&text_color=ffa500&primary_color=ffffff'});return false;">Schedule a Meeting</a>
<!-- Calendly link widget end -->
<!-- <div id="type-css" class="landing-banner">
  <h2 class="slogan-header">
    Contact us at hello@skipperbitcoin
  </h2>
</div> -->

<!-- <div class="splide reviews">
  <p>Making Bitcoin easy for non technical people.</p>
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide" style="width: 300px">
        <div class="review-card">
          "[My Bitcoin guy] is fantastic. I had no prior knowledge of Bitcoin but knew I wanted to buy some. [My Bitcoin Guy] walked me through everything in a very easy to understand way. Now I feel I can own and transact using Bitcoin without worries." <span class="reviewer-name">- Ronny</span>
        </div>
      </li>
      <li class="splide__slide" style="width: 300px">
        <div class="review-card">
          "I couldn't be happier. I was nervous about buying Bitcoin until I talked to [My Bitcoin guy]" <span class="reviewer-name">- Janice</span>
        </div>
      </li>
      <li class="splide__slide" style="width: 300px">
        <div class="review-card">
          "[My Bitcoin guy] is my go to!" <span class="reviewer-name">- Shaqueefah</span>
        </div>
      </li>
    </ul>
  </div>
</div>

<script>
  var splide = new Splide( '.splide', {
    type     : 'loop',
    autoHeight: true,
    focus    : 'center',
    autoWidth: true,
    autoScroll: {
      speed: .75,
    },
    autoStart: true,
    pauseOnHover: true,
    perPage : 3,
  } ).mount( window.splide.Extensions );;
</script> -->
